$main-bg: #fff;
$header-bg: #28414F;

$text-main: #28414F;
$text-second-color: #3F3F3F;
$text-third-color:#4D6876;
$text-four-color: #39596A;
$text-white: #fff;
$text-black: #000;

$footer-text: #808080;
$footer-icon: #85B6FF;

$header-height: 100px;
$header-tablet-height: 80px;
$header-mobile-height: 60px;
$header-shrink-height: 80px;

$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;

$mobile-width: 600px;
$tablet-width: 1023px;
