.hero_banner{
    width: 100%;
    height: 100vh;
    max-height: 920px;
    position: relative;
    overflow: hidden;
    background-image: url('/Landing_page_1/assets/images/banner.png');
    background-size: 100% 100%;
    .container{
        height: 100%;
    }
    .banner{
        @include flex(center,center);
        position: relative;
        width: 100%;
        height: 100%;
        
        &_title{
            position: absolute;
            bottom: 10%;
            left: 0;
            color: $text-white;
            div{
                @include flex(center,center);
                p{
                    width: 400px;
                }
                .crossline{
                    width: 100%;
                    height: 1px;
                    background-color: $main-bg;
                    @include tablet{
                        display: none;
                    }
                }
            }
            @include tablet{
                text-align: center;
                margin-top: 50px;
                div{
                    margin-top: 20px;
                }
            }
        }
        &_contact{
            position: absolute;
            right: 0;
            width: 450px;
            height: 250px;   
            background:rgba(255, 255, 255, 0.5);
            box-shadow: $box-shadow;
            border-radius:25px;
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            text-align: center;
            padding: 20px 30px;
            h2{
                
            }
            form{
                @include flex(center, space-between);
                .dropdown{
                    position: relative;
                    width: 110px;
                    height: 60px;
                    input{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        cursor: pointer;
                        border: none;
                        box-shadow: $box-shadow;
                        padding: 15px;
                        border-radius: 10px;
                        font-size: 18px;
                    }
                    .option{
                        position: absolute;
                        top: 70px;
                        width: 100%;
                        background-color: $main-bg;
                        box-shadow: $box-shadow;
                        border-radius: 15px;
                        overflow: hidden;
                        display: none;
                        transition: 0.5s;
                        div{
                            padding: 10px;
                            cursor: pointer;
                        }
                        div:hover{
                            background-color: $text-four-color;
                            color: $text-white;
                        }
                    }
                }
                .dropdown::before{
                    content: '';
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    z-index: 1000;
                    width: 8px;
                    height: 8px;
                    border: 2px solid #333;
                    border-top: 2px solid #fff;
                    border-right: 2px solid #fff;
                    transform: rotate(-45deg);
                    transition: 0.5s;
                    pointer-events: none;

                }
                .dropdown.active::before{
                    top: 25px;
                    transform: rotate(-225deg);
                }
                .dropdown.active .option{
                   display: block;
                   transition: 0.5s;
                }
                .contact-phone{
                    width: 250px;
                    height: 60px;
                    border-radius: 10px; 
                    padding: 10px;
                }
            }
            button{
                height: 50px;
                width: 100%;
                border-radius: 10px; 
                background: $text-four-color;
                font-weight: 600;
                color: $text-white;
                font-size: 18px;
                cursor: pointer;
            }
        }

        @include tablet{
            @include flex(center,center);
            flex-direction: column;
            &_title{
                position: relative;
                width: 100%;
            }
            &_contact{
                position: relative;
                width: 100%;
            }
        }
    }
}